*.whl
udemy_python_mega_course/.ipynb_checkpoints/Numpy-checkpoint.ipynb
udemy_python_mega_course/project04/mysite/virtual/*
udemy_python_mega_course/project05/bookstore.spec
udemy_python_mega_course/project05/books.db
udemy_python_mega_course/project05/__pycache__/*
udemy_python_mega_course/project05/build/*
udemy_python_mega_course/project05/dist/*
*.exe
udemy_python_mega_course/opencv/Galaxy_resized.jpg
udemy_python_mega_course/opencv/Files.zip
udemy_python_mega_course/bokeh/.ipynb_checkpoints/Untitled-checkpoint.ipynb
udemy_python_mega_course/bokeh/ex09.html
udemy_python_mega_course/bokeh/Scatter_charts.html
udemy_python_mega_course/bokeh/.ipynb_checkpoints/graphs-checkpoint.ipynb